*{
    padding: 0%;
    margin: 0%;
    overflow: auto;
}

#home{
margin: auto;
}
h1{
    font-size: 30px;
}
.navbar{
    height: 10vh;
    background: #5b78c7;
}

.nav-links{
    display: flex;
list-style: none;
justify-content: space-around;
width: 50%;
height: 100%;
align-items: center;
margin-left: auto;
}

.nav-links li a{
    text-decoration: none;
    font-size: 16px;
}

.info{
text-align: center;

}

.dpimage{
    border-radius: 50%;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    height:100px;
    width: 100px;
}

#skills{
    text-align: center;
    margin-top: 20px;
}

#skills h1{
    text-align: center;
    margin-bottom: 20px;
}

nav a{

}

.html{
    margin-top: 2   0px;
}

.css{
    margin-top: 10px;
}

.js{
    margin-top: 10px;
}

.project{
text-align: center;
margin-top: 12px;

display: flex;
flex-direction: row;
}

#project_box h1{
    text-align: center;
    margin-top: 2rem;
}

.project a{
    margin: auto;
}
.project1{
    border-radius: 20%;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    height:200px;
    width: 200px;
}

::selection{
    background-color: aqua;
    color: black;
}

.main{
    background-color:#1e272e;
    color: #fff591;
    height: max-content;
}

@media screen and (max-width: 768px)
{

.line{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
}

.navbar{
    position: relative;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}

.nav-links{
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
}
.nav-links.open
{
    clip-path: circle(1000px at 90% -20%);
    -webkit-clip-path: circle(1000px at 90% -20%);
    pointer-events: all;
}


.project{
    flex-direction: column;
}
}
